body {
  display: flex;
  flex-direction: column;
 
  justify-content:center;

  margin: 0;
    
  
}


html {
  display: table;
  margin: auto;
  width: 100%;
}

  header {
    background-color: #007bff;
    color: #fff;
    margin-bottom: 20px;
    padding: 20px ;
    text-align: center;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
    width: 100%;
    
  }
  
  header h1 {
    margin: 0;
  }
  
  
  form {
    display:flexbox;
    margin-bottom: 20px;
    margin:auto;
    justify-content: center;
}
#memberSelect {
    width: 150px; 
    margin-top: 30;
    margin-bottom: 20px;
    justify-content: center;
}

#workoutDescription {
  margin-top: 10px;


  width: 300px;
  height: 100px; 
}

#workoutDescriptionContainer {
 
justify-content: center;
margin: auto;
text-align: center;
background-color: lightskyblue;
box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);


  
}

#dietContainer {
 

  justify-content: center;
  margin: auto;
  padding-bottom: 40px;
  text-align: center;
  background-color:palegreen;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);

  
};

#descriptionLabel 
{
  margin-top: 10px;
  
}
#dietDescription {
  margin-top: 10px;


  width: 300px;
  height: 100px; 
}

.btn {
  position: absolute;
  top: 20px; /* Header'ın üstünden 20px aşağıda */
  right: 20px; /* Sağdan 20px içeriye */
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  background-color: #2ecc71;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #27ae60;
}